.companyicons{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    /* background-color: aliceblue; */
}

.icon1, .icon2, .icon3, .icon4{
    width: 40%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* padding: 10px; */
}

.icon1{
    background-image: url(assets/images/cropped-fb.png);
}

.icon2{
    background-image: url(assets/images/cropped-MongoDb.png);
}

.icon3{
    background-image: url(assets/images/cropped-tinder-2.png);
}

.icon4{
    background-image: url(assets/images/cropped-Two_Sigma_logo.svg\ copy\ 2.png);
}
