
#eCal .eCalEvent p {
  margin: 0;

}

#eCal {
  /* margin-top: 2rem; */
}

.eCalEvent {
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 2rem;
}



.section1 {
  background-color: white;
}

.section2 {
  background-color: #F9F9F9;
}

.section2 img {
  width: 100%;
}

.section3 {
  background-color: white;
}

.section4 {
  background-color: #F9F9F9;
}

.app-btn {
  color: white;
  background-color: #CC5653;
  border-radius: 30px;
  height: 50px;
  width: 170px;
  border-width: 0px;
  margin-top: 20px;
}

@media (max-width: 576px) {

  .eCalEvent {
    text-align: left;
  }

  .section2 img {
    width: 40%;
  }

  .section2 p {
    margin: 30px;
  }

}
