.customFooter {
  background-color: #BA274A;
}

#bootstrap-overrides .customFooter {
  /* color: #707170; */
  /* color: black: */
  color: white;
}

.customFooter {
  text-align: center;
}

.customFooter .footerDetail {
  text-align: left;
}

.footerLogo {
  margin-bottom: 10px;
}
.footerSocialIcon {
  margin-left: 5px;
  margin-right: 5px;
}
/* #footerNav li {
  margin: 5px;
  color: white;
} */

#bootstrap-overrides .customFooter li a {
  color: white;
}

#bootstrap-overrides .customFooter li .active {
  color: #420039;
}

#footerNav li .nav-link{
  color: white;
}


/* small devices */
@media (max-width: 768px) {
  .customFooter .footerDetail {
    text-align: center;
  }

  .customFooter .footerSocial {
    margin-top: 16px;
  }

}
