
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

img {
  width: 250px;
}

.section1 {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section1 a {
  margin: 30px;
}

.section-item {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app-btn {
  padding: 15px;
  color: white;
  background-color: #CC5653;
  border-radius: 30px;
  width: 200px;
}

.return-btn {
  padding: 15px;
  color: #CC5653;
  background-color: white;
  border-width: 2px;
  border-color: #CC5653;
}

@media (max-width: 576px) {
  img {
    width: 200px;
  }
}
