.jumbotron {
  background-image: url("../images/coverlight.png");
  text-align: right;
  height: 50vh;
}

p {
  font-size: 1.3rem;
}


.jumboCustomContainer h1{
  color: #CC5653;
}
.jumboCustomContainer p{
  color: gray;
}

.jumbotron h1, h2, h2 {
  font-weight: bold;
}

.bg-cover {
  background-size: cover;
  color: white;
  background-position: 50% 30%;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.customSection {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

.customSection h1, h2, h3 {
  font-weight: bold;
  margin: 15px;
}

.customSection p {
  margin: 15px;
}



.section1 {
  background-color: white;
}

.mission {
  margin: 20px;
  text-align: center;
}

.mission .image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.mission img {
  width: 100%;
}

.section2 {
  background-color: #F9F9F9;
}

.section3 {
  background-color: white;
}

.section4 {
  background-color: #F9F9F9;
}

.section5 {
  background-color: white;
}

.section6 {
  background-color: white;
}




.carousel-inner {
  text-align: center;
}
.carousel-item {
  height: 500px;
}
.carousel-image {
  height: 100%;
}




@media (max-width: 576px) {

  p {
    font-size: 1rem;
  }

  .container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .jumboCustomContainer {
    margin-top: 30px;
  }

  .jumbotron {
    background-image: url("../images/coversmall.png");
  }



  .mission .image-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }

  .carousel-item {
    height: 300px;
  }
}
