.jumbotron {
  background-image: url("../images/cover.png");
  text-align: right;
  height: 60vh;
}

/* .jumboCustomContainer h1{
  color: white;
}
.jumboCustomContainer p{
  color: gray;
} */
.jumbotron h1 {
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  font-size: 70px;
}

.jumbotron h1, h2, h2 {
  font-weight: bold;
}

.bg-cover {
  background-size: cover;
  color: white;
  background-position: 50% 30%;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}


@media (max-width: 576px) {
  .jumboCustomContainer {
    margin-top: 30px;
  }

  .jumbotron {
    background-image: url("../images/coversmall.png");
  }

  .jumbotron h1 {
    font-size: 55px;
  }

}
