.jumbotron {
  background-image: url("../images/bg.png");
  text-align: center;
  height: 50vh;
}

.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.customSection {
  /* height: 300px; */
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.section1 {
  background-color: white;
}

.section2 {
  background-color: #F9F9F9;
}

.section3 {
  background-color: white;
}



@media (max-width: 576px) {
  .jumboCustomContainer {
    margin-top: 30px;
  }

}
