

.section1 {
  background-color: white;
  text-align: center;
}

.eboard .member {
  margin: 20px;
}

.eboard .member .headshot {
  border-radius: 50%;
  margin-bottom: 20px;
}

.companies img{
  margin: 30px;
}


.section2 {
  background-color: #F9F9F9;
  text-align: center;
  padding: 100px;
}





@media (max-width: 576px) {

  .section2 {
    padding: 30px;
  }

}
